<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ .Title }} | {{ $.Site.Title }}</title>
    <!-- Meta -->
    <link rel="canonical" href="https://dashandot.co.uk{{ .Permalink }}">
    <link rel="alternate" href="https://dashandot.co.uk/" hreflang="en-gb" />
    <meta name="description" content="Dash&Dot is a creative digital agency. We combine branding, website design, & strategy to deliver consistent, recognisable results for clients.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Tim Breeze">
    <!-- Open Graph -->
    <meta property="og:locale" content="en_GB" />
    <meta property="fb:app_id" content="320572922030185" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Web Design Hereford, Herefordshire | Dash&Dot">
    <meta property="og:description" content="Dash&Dot is a creative digital agency. We combine branding, website design, & strategy to deliver consistent, recognisable results for clients.">
    <meta property="og:url" content="https://dashandot.co.uk/">
    <meta property="og:image" content="https://dashandot.co.uk/img/dd-fb-og-040918.jpg">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Dash&Dot is a creative digital agency. We combine branding, website design, & strategy to deliver consistent, recognisable results for clients."
    />
    <meta name="twitter:title" content="Web Design Hereford, Herefordshire | Dash&Dot" />
    <meta name="twitter:site" content="@dash_andot" />
    <meta name="twitter:image" content="https://dashandot.co.uk/img/dd-fb-og-040918.jpg" />
    <meta name="twitter:creator" content="@dash_andot" />
    <meta name="google-site-verification" content="vEy5GJRVSUd4fIsOOnLF_hYlBjUlCvWfbJQJCLUg8pE" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Schema -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://dashandot.co.uk/",
        "name": "Dash & Dot",
        "logo": "https://dashandot.co.uk/favicon/img/apple-icon-180x180.png",
        "address":
        [
          {
            "@type": "PostalAddress",
            "addressCountry": "United Kingdom",
            "addressLocality": "5 Barnamore House",
            "addressRegion": "Hereford",
            "postalCode": "HR1 3SG",
            "email": "hello@dashandot.co.uk",
            "telephone": "+44 7920226419"
          }
        ]
      }
    </script>
    <link rel="stylesheet" href="css/main.css"/>
  </head>