{{ define "main" }}
<body class="support">
  
<div class="loader"></div>

<div class="full-wrapper" id="wrap">

    <div class="left">
        <div class="left__content">

        <a href="/" title="Return home | Dash&amp;Dot">
            <div class="brand">
                <span class="morse-icon morse-icon--long"></span>
                <span class="morse-icon morse-icon--short"></span>
            </div>
        </a>

        <div class="support__introduction">
            <h1>Support Packages</h1>
            <p>These website support packages are tailored to meet various businesses budgets and requirements.</p>
            <p>If you have any queries please contact us for further information.</p>
        </div>

       <a href="mailto:hello@dashandot.co.uk?subject=Support%20Packages" title="Get in touch with Dash&amp;Dot by email" class="contact-us">✉️ hello@dashandot.co.uk</a>
        </div>
    </div>


    <div class="right right--support">
        <div class="support__packages">

            <!-- Basic Cover -->
            <div class="package__item">

                <div class="package__pricing">
                    <p class="package__price" >£30</p>
                    <p class="package__month">per month</p>
                    <p class="package__year">upfront £300<br />per year</p>
                </div>

                <div class="package__content">
                    <h2 class="package__title">Basic Cover</h2>
                    <ul class="package__details">
                        <li>
                            Free SSL Certificate
                            <span>Enabling HTTPS connections to make your website more secure</span>
                        </li>
                        <li>
                            Google Analytics Integration
                            <span>See how many people visit your website, where they've come from, &amp; more</span>
                        </li> 
                        <li>
                            Fortnightly Off-site Backups
                            <span>Stored for a period of 6 months</span>
                        </li>
                        <li>
                            Critical Software Updates
                            <span>Required security updates for your CMS</span>
                        </li>        
                        <li>
                            WP-Rocket Caching
                            <span>Enhances page delivery speed and descreases the load time of your website </span>
                        </li>                      
                    </ul>

                </div>
            </div>

            <!-- Standard Cover -->
            <div class="package__item">

            <div class="package__pricing">
                <p class="package__price" >£60</p>
                <p class="package__month">per month</p>
                <p class="package__year">upfront £600<br />per year</p>
            </div>

            <div class="package__content">
                <h2 class="package__title">Standard Cover</h2>
                <ul class="package__details">
                    <li>
                        Free SSL Certificate
                        <span>Enabling HTTPS connections to make your website more secure</span>
                    </li> 
                    <li>
                        Google Analytics Integration
                        <span>See how many people visit your website, where they've come from, and more</span>
                    </li> 
                    <li>
                        Weekly off-site backups
                        <span>Stored for a period of 12 months</span>
                    </li>
                    <li>
                        Regular software updates   
                        <span>Covering your CMS, plug-ins, server and more</span>
                    </li> 
                    <li>
                        Technical fixes, updates and support 
                        <span>Up to 1 hour per month</span>
                    </li>
                    <li>
                        WP-Rocket Caching
                        <span>Enhances page delivery speed and descreases the load time of your website </span>
                    </li>
                    <li>
                        Annual SEO reports and advice
                        <span>A annual catch-up to let you know how your websites SEO is performing and importantly how to improve it</span>
                    </li>                              
                </ul>

                </div>
            </div>

            <!-- Full Cover -->
            <div class="package__item">

            <div class="package__pricing">
                <p class="package__price" >£120</p>
                <p class="package__month">per month</p>
                <p class="package__year">upfront £1080<br />per year</p>
            </div>

            <div class="package__content">
                <h2 class="package__title">Full Cover</h2>
                <ul class="package__details">
                    <li>
                        Free SSL Certificate
                        <span>Enabling HTTPS connections to make your website more secure</span>
                    </li>  
                    <li>
                        Google Analytics Integration
                        <span>See how many people visit your website, where they've come from, and more</span>
                    </li>                     
                    <li>
                        CloudFlare CDN
                        <span>Prevents server downtime & vastly improves website speed across the world</span>
                    </li>                      
                    <li>
                        Weekly off-site backups
                        <span>Stored for a period of 12 months</span>
                    </li>
                    <li>
                        Monthly software updates   
                        <span>Covering your CMS, plug-ins, server and more</span>
                    </li>  
                    <li>
                        Technical fixes, updates and support 
                        <span>Up to 4 hour per month</span>
                    </li> 
                    <li>
                        WP-Rocket Caching
                        <span>Enhances page delivery speed and descreases the load time of your website </span>
                    </li>                    
                    <li>
                        Disaster recovery
                        <span>A full website and database recovery, at no extra cost, should the worst occur</span>
                    </li>      
                    <li>
                        Annual SEO reports and advice
                        <span>A annual catch-up to let you know how your websites SEO is performing and importantly how to improve it</span>
                    </li>                                               
                </ul>

                </div>
            </div>

            <!-- SEO 
            <div class="package__item">

            <div class="package__pricing">
                <p class="package__price" >£240+</p>
                <p class="package__month">per month</p>
                <p class="package__year">try or cancel at any time</p>
            </div>

            <div class="package__content">
                <h2 class="package__title">SEO</h2>
                <ul class="package__details">
                    <li>
                        Weekly off-site backups
                        <span>Stored for a period of 12 months</span>
                    </li>
                    <li>
                        Monthly software updates   
                        <span>Covering your CMS, plug-ins, server and more</span>
                    </li>  
                    <li>
                        Technical fixes, updates and support 
                        <span>Up to 4 hour per month</span>
                    </li>  
                    <li>
                        Disaster recovery
                        <span>A full website and database recovery, at no extra cost, should the worst occur</span>
                    </li>      
                    <li>
                        Annual SEO reports and advice| 
                        <span>A annual catch-up to let you know how your websites SEO is performing and importantly how to improve it</span>
                    </li>                                               
                </ul>

                </div>
            </div>-->
                    


            </div>

        </div>
    </div>

</div>     

</body>

{{end}}