{{ define "main" }}
<body>
  
<div class="loader"></div>

<div class="full-wrapper" id="wrap">
  <div class="left">
    <div class="left__content">
      <div class="brand">
        <span class="morse-icon morse-icon--long"></span>
        <span class="morse-icon morse-icon--short"></span>
      </div>
      <ul class="portfolio">
        <li>
            <a href="//theprioryhereford.co.uk/" title="Visit The Priory's website" target="_blank" class="morse-move">The Priory</a>
          </li>
        <li>
          <a href="https://tdl-creative.com/" title="Visit the TDL-Creative website" target="_blank" class="morse-move">TDL-Creative</a>
        </li>
        <li>
          <a href="https://kayskreations.co.uk/" title="Visit the Kay's  website" target="_blank" class="morse-move">Kay's Kreations</a>
        </li>
        <li>
          <a href="https://www.designbysoap.co.uk/" title="Visit Designbysoap's website" target="_blank" class="morse-move">Designbysoap</a>
        </li>
        <li>
          <a href="https://garethrobertsheating.co.uk/" title="Visit Gareth Roberts Heating's website" target="_blank" class="morse-move">Gareth Roberts Heating</a>
        </li>
        <li>
          <a href="https://creativeconnectionsh.co.uk/" title="Visit the Creative Connections Herefordshire website" target="_blank" class="morse-move">Creative Connections</a>
        </li>
      </ul>
       <a href="mailto:hello@dashandot.co.uk?subject=Hello!" title="Get in touch with Dash&amp;Dot by email" class="contact-us">✉️ Get in Touch</a>
    </div>
  </div>

  <div class="right">
    <div class="right__content">
      <ul class="social">
        <li>
          <a href="https://twitter.com/dash_andot" title="Follow us on Twitter" target="_blank" class="contact-us">Twitter</a>
        </li>
        <!--
        <li>
            <a href="#" class="contact-us">Instagram</a>
        </li>      -->
        <li>
          <a href="https://www.facebook.com/dashandotdesign/" title="Like us on Facebook" target="_blank" class="contact-us">Facebook</a>
        </li>

      </ul>
    </div>
  </div>

</div>     

</body>

{{end}}